[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/lunasvg"]
	path = external/lunasvg
	url = https://github.com/sammycage/lunasvg.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
