[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/freetype2"]
	path = external/freetype2
	url = https://github.com/aseprite/freetype2
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft
